<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <% const page_name = sidebar_info[page_id].name[lang] %>
    <% title=translate["browser.title"] %>
    <title><%= page_name %> - <%= title %></title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/javascripts/utils/http-request.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/index.js"></script>
</head>

<body>
    <!-- Header -->
    <header class="navbar">
        <section class="navbar-section">
            <a id="sidebar-btn-show" class="off-canvas-toggle btn btn-link btn-action mr-2" href="#sidebar"><i
                    class="icon icon-menu"></i></a>
            <a href="<%= sidebar_info[page_id].href %>" target="_parent"
                class="page-name navbar-brand pl-2 pr-2"><%= page_name %></a>
        </section>
        <section class="navbar-section">
            <div class="btn-group">
                <% if(account_info.nickname) { %>
                <a id="nickname" class="btn btn-link"><b><%= account_info.nickname %></b></a>
                <% } %>
                <button id="<%= account_info.option + '-btn' %>"
                    class="btn btn-link"><%= translate["info." + account_info.option] %></button>
            </div>
        </section>
    </header>
    <!-- SideBar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-title">
            <div style="padding: .25rem 0;">MC Web Ctrl</div>
        </div>
        <div class="sidebar-content">
            <% for (function_id in sidebar_info) { %>
            <% const function_info = sidebar_info[function_id] %>
            <% if(function_info.name[lang]==page_name) { %>
            <div class="sidebar-button active" onclick="window.location='<%= function_info.href %>'">
                <span><%= function_info.name[lang] %></span>
            </div>
            <% } else { %>
            <div class="sidebar-button" onclick="window.location='<%= function_info.href %>'">
                <span><%= function_info.name[lang] %></span>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>
    <a class="hide-sidebar" href="##"></a>
    <!-- Main -->
    <div class="page-box">
        <div class="card-box">
            <!-- welcome -->
            <div class="card-container">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h3">
                            <%= translate["page.index.welcome"] %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- hello -->
            <div class="card-container fit-sm">
                <div class="card">
                    <% if(account_info.online) { %>
                    <div class="card-header">
                        <div class="card-title h5 strong">
                            <%= translate["page.index.hello.online.title"].replace(/\%s/,account_info.nickname) %>
                        </div>
                    </div>
                    <div class="card-body">
                        <%= translate["page.index.hello.online.description"] %>
                    </div>
                    <div class="card-footer" style="text-align: right;">
                        <a class="btn" href="/properties">服务器属性</a>
                        <a class="btn" href="/rcon">RCON</a>
                    </div>
                    <% } else { %>
                    <div class="card-header">
                        <div class="card-title h5 strong">
                            <%= translate["page.index.hello.offline.title"] %>
                        </div>
                    </div>
                    <div class="card-body">
                        <%= translate["page.index.hello.offline.description"] %>
                    </div>
                    <div class="card-footer" style="text-align: right;">
                        <a class="btn btn-primary" href="/login">登录</a>
                    </div>
                    <% } %>
                </div>
            </div>
            <!-- cards -->
            <% for(const key in cards_info) { %>
            <% if(key.includes(".sm")) { %>
            <div class="card-container fit-sm">
                <div class="card custom-card">
                    <%- cards_info[key] %>
                </div>
            </div>
            <% } else { %>
            <div class="card-container">
                <div class="card custom-card">
                    <%- cards_info[key] %>
                </div>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>
</body>

</html>